<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta UpTask
        p Hola, Preciona el siguiente boton para empezar a usar nuestra app
        a(href=`${confirmarUrl}`) Ir a confirmar cuenta 
        P si no puedes acceder a este enlace, visita #{confirmarUrl}
        