<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo, este enlace es temporal, si se vence vuelve a intentarlo
        a(href=`${resetUrl}`) Ir a restablecer al Password 
        P si no puedes acceder a este enlace, visita #{resetUrl}
        p si no solicitaste este e-mail, puedes ignorarlo